body {
    background-color: lightgrey;
}

img {
    display: block;
    margin-bottom: 20px;
}

a {
    display: block;
    color: rgb(247, 76, 19);
}

main a {
    text-decoration: none;
}

header {
    background-color: gray;
}

nav {
    margin-left: 50px;
}

h1 {
    font-size: 25px;
}

span {
    color: rgb(247, 76, 19);
}